.Welcome {
  padding: 60px 0;
  vertical-align: middle;
}

.banner {
  padding: 50px;
  vertical-align: middle;
}

.btn-home {
  width: 180px;
  height: 50px;
}

.buttonGroup {
  vertical-align: middle;
  align-items: center;
  width: 250px;
}